@import "googleFonts.scss";
@import "icon.scss";
@import "import";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";

body, html {
  min-height: 100%;
  min-width: $screen-min-width;
}

body {
  padding: 0;
  margin: 0;
  color: white;
}

body:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../assets/images/bg.jpg) center center no-repeat;
  background-size: cover;
  z-index: -1;
}

a, .a {
  cursor: pointer;
  @include transition(all .2s ease);
}

@include keyframes("pulsate"){
  30% {
    @include scale(.1,.1);
    @include opacity(0);
  }
  35% {
    @include scale(.1,.1);
    @include opacity(1);
  }
  40% {
    @include scale(1.2,1.2);
    @include opacity(0);
  }
}

//login page
html#auth, html#auth body, .auth-main {
  height: 100%;
  position: relative;
}

.auth-main {
  margin: auto;
  width: 100%;
  @include display-flex(flex);
  @include align-items(center);
}

.auth-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 32px;
}

.auth-block h1 {
  font-weight: normal;
  margin-bottom: 28px;
}

.auth-block h1 {
  text-align: center;
}

.auth-link {
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-bottom: 33px;
}

.form-group label {
  font-weight: 400;
  font-size: 13px;
}

.form-control {
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
}

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  display: block;
  position: relative;
  font-size: 16px;
  text-align: center;
}

.auth-sep:after, .auth-sep:before {
  border-top: solid 1px #fff;
  content: "";
  height: 1px;
  width: 35%;
  display: table-cell;
}

.auth-sep > span {
  display: table-cell;
  width: 30%;
  padding: 0 24px;
  color: #fff;
}

.auth-sep > span, .nowrap {
  white-space: nowrap;
}

.auth-sep > span > span {
  margin-top: -12px;
  display: block;
}

.al-share-auth {
  text-align: center;
}

.al-share-auth .al-share {
  float: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
    list-style: none;
    float: left;
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.socicon {
  font-family: 'Icomoon Icon' !important;
  cursor: pointer;
  color: #fff;
  padding: 6px;
  box-sizing: content-box;
  font-size: 24px;
  font-style: normal;
  border-radius: $border-radius-base;
}

.socicon-weibo {
  background: #fa7d3c;
  &:before {
    content: "\e901";
  }
  &:hover {
    background: darken(#fa7d3c, 6.5%);
  }
}

.socicon-wechat {
  background: #609700;
  &:before {
    content: "\e900";
  }
  &:hover {
    background: darken(#609700, 6.5%);
  }
}

//404 page
html#page-404 {
  height: 100%;
  body {
    @include display-flex(flex);
    @include align-items(center);
    width: 100%;
    margin: auto;
    height: 100%;
  }
}

.page-not-found-modal {
  width: 638px;
  margin: 0 auto;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  font-weight: 300;
  color: #fff;
  padding: 32px;
  text-align: center;
  box-sizing: content-box;
  h1 {
    font-weight: 300;
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    text-decoration: none;
    outline: 0;
    display: inline-block;
  }
}

//dashboard normal
.page-top {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, .5);
  height: 66px;
  width: 100%;
  padding: 0 32px 0 40px;
  min-width: $screen-min-width;
  @media (max-width: ($screen-xs-min - 1)) {
    padding: 0 20px;
  }
}

a.al-logo {
  color: #fff;
  display: block;
  font-size: 24px;
  white-space: nowrap;
  float: left;
  outline: 0 !important;
  line-height: 60px;
  &:hover {
    color: darken($brand-primary, 6.5%);
  }
  span {
    color: $brand-primary;
  }
  @media (max-width: ($screen-xs-min - 1)) {
    font-size: 20px;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: #fff;
  padding: 0;
  float: left;
  margin: 11px 0 0 25px;
  font-family: 'Icomoon Icon' !important;
  &:before {
    content: "\e905";
  }
  &:hover {
    color: darken($brand-warning, 0%);
  }
  @media (max-width: ($screen-xs-min - 1)) {
    margin-left: 5px;
    font-size: 24px;
  }
}

.search {
  font-size: 13px;
  line-height: 25px;
  width: 162px;
  float: left;
  margin: 20px 0 0 30px;
  color: #fff;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.search i {
  width: 16px;
  display: inline-block;
  cursor: pointer;
  padding-left: 1px;
  font-size: 16px;
  margin-right: 13px;
  font-family: 'Icomoon Icon' !important;
  font-style: normal;
  &:before {
    content: "\e902";
  }
}

.search input {
  background: 0 0;
  border: none;
  outline: 0;
  width: 120px;
  padding: 0;
  margin: 0 0 0 -3px;
  height: 27px;
}

.questions-section {
  position: absolute;
  right: 200px;
  top: 0;
  height: 66px;
  line-height: 66px;
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}



.user-profile {
  float: right;
  min-width: 170px;
  margin-top: 10px;
  @media (max-width: $screen-xs-max) {
    min-width: 136px;
  }
  a {
    display: block;
  }
  .al-user-profile {
    float: right;
    margin-right: 12px;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}

.al-msg-center {
  float: right;
  padding: 0;
  list-style: none;
  margin: 13px 47px 0 0;
  li {
    list-style: none;
    float: left;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
    > a{
      color: #fff;
      &:hover .fa-bell-o{
        color: $brand-danger;
      }
      &:hover .fa-envelope-o{
        color: $brand-info;
      }
      span{
        display: inline-block;
        min-width: 10px;
        padding: 2px 4px;
        color: #fff;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        border-radius: 13px;
        text-shadow: none;
        line-height: 11px;
        background-color: $brand-danger;
        position: absolute;
        top: -5px;
        right: -14px;
        font-size: 11px;
      }
      &.msg span{
        background-color: $brand-info;
      }
      .notification-ring{
        border: 1px solid $brand-danger;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        position: absolute;
        top: -18px;
        right: -27px;
        @include animation(pulsate 8s ease-out);
        @include animation-iteration-count(infinite);
        opacity: 0;
      }
      &.msg .notification-ring{
        border: 1px solid $brand-info;
      }
    }
  }
}
.fa{
  font-family: 'Icomoon Icon' !important;
  font-style: normal;
  @include  transition(all 0.2s ease);
}
.fa-bell-o:before{
  content:"\e907" ;
}

.fa-envelope-o:before{
  content: "\e904";
}