@import "../../../../scss/import";

.defaultForm, .noLabelForm, .horizontalForm, .inlineForm, .blockForm {
  overflow: hidden;
  .form-group {
    .form-control {
      border-width: 0px;
      &:focus {
        border-width: 1px;
      }
      @include placeholder(#ccc)
    }
    &.has-error .form-control {
      border: 1px solid $brand-danger;
    }

  }
  .checkbox-wrapper {
    margin-bottom: 15px;
    ul.checkbox {
      margin-bottom: 0;
      margin-top: 0;
      border-radius: 5px;
      padding: 7px;
      padding-left: 0;
      background: rgba(0, 0, 0, 0.4);
      li {
        display: inline-block;
        padding-left: 20px;
        input[type='checkbox'] {
          margin-left: -15px;
        }
        label {
          padding-left: 0;
          padding-right: 3px;
        }
      }
    }
  }
  .radio-wrapper {
    margin-bottom: 15px;
    ul.radio {
      margin-bottom: 0;
      margin-top: 0;
      border-radius: 5px;
      padding: 7px;
      padding-left: 0;
      background: rgba(0, 0, 0, 0.4);
      li {
        display: inline-block;
        padding-left: 20px;
        input[type='radio'] {
          margin-left: -15px;
        }
        label {
          padding-left: 0;
          padding-right: 3px;
        }
      }
    }
  }
  .form-group, .checkbox-wrapper, .radio-wrapper {
    .error-block {
      color: $brand-danger;
    }
  }

  div.action {
    div.submit {
      float: left;
      margin-right: 10px;
    }
    div.reset {
      float: left;
    }
  }
}

.defaultForm, .horizontalForm, .blockForm {
  label span.required {
    color: $brand-danger;
    margin-left: 3px;
    vertical-align: middle;
  }
}

.horizontalForm {
  .form-group, .checkbox-wrapper, .radio-wrapper {
    overflow: hidden;
    margin-bottom: 15px;
    > label {
      @media (min-width: $screen-sm-min) {
        line-height: 34px;
        margin-bottom: 0px;
        vertical-align: middle;
        text-align: right;
      }
    }
    .col-sm-10, .col-sm-2 {
      @media (max-width: $screen-xs-max) {
        padding: 0
      }
    }
    .error-block{
      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }
  }
  .checkbox-wrapper {
    @media (min-width: $screen-sm-min) {
      ul.checkbox {
        margin-top: 8px;
      }
    }
  }
  .radio-wrapper {
    @media (min-width: $screen-sm-min) {
      ul.radio {
        margin-top: 8px;
      }
    }
  }
  .action {
    @media (min-width: $screen-sm-min) {
      float: right;
      padding: 0;
    }
  }
}

.noLabelForm, .inlineForm {
  .form-group, .checkbox-wrapper, .radio-wrapper {
    > label {
      display: none;
    }
  }
}

.inlineForm {
  @media (min-width: $screen-sm-min) {
    .form-group, .checkbox-wrapper,.radio-wrapper {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      input {
        width: auto;
      }
      .error-block {
        position: absolute;
      }
    }
    div.action {
      display: inline-block;
      div.submit, div.reset {
        display: inline-block;
        float: none;
      }
    }

    .action {
      width: 120px;
      display: inline-block;
    }
  }
}

.blockForm {
  .col {
    padding-left: 0;
    .form-group {
      position: relative;
      .error-block {
        position: absolute;
      }
    }
  }
}